.container {
  position: relative;
  display: flex;
  justify-content: center;
  font-family: "JetBrains Mono";
  height:  600px;
  margin-bottom: 15rem;
}

.main {
  display: flex;
  flex-direction: column;
  width: 600px;
  background-color:#333;
  color: white;
  border-right: 1px solid white;
}

.main p  {
  margin-left: 4rem;
  letter-spacing: 2px;
}

.title {
  text-align: center;
  color: #95bd99;
  font-weight:600;
  font-size: 1.8em;
  border-bottom: 1px solid rgb(255, 255, 255);
  padding-bottom: 5px;
  width: 230px;
}


.intro {
  font-size: 0.7em;
  margin-bottom: 2rem;
}

.side {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-evenly;
  width: 400px;
  background-color: #1e1e1e;
  letter-spacing: 2px;
}

.side p {
  margin-left: 4rem;
  font-size: 0.7em;
}


.side img {
  align-self: center;
  border: 1px solid white;
  cursor: pointer;
}

.form {
  margin-left: 4rem;
  margin-right: 5rem;
}


@media (max-width: 1200px) {
  .side {
    display:none;
  }
}