.container {
  position: relative;
  display: flex;
  justify-content: center;
  font-family: "JetBrains Mono";
  height:  600px;
}

.main_square {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 900px;
  margin-left: 4rem;
  background-color:#333;
  color: white;
  border-left: 1px solid white; 
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.main_square p {
  margin-left: 4rem;
  letter-spacing: 2px;
}


.title {
  text-align: center;
  color: #95bd99;
  font-weight:600;
  font-size: 2.5em;
  border-bottom: 1px solid rgb(255, 255, 255);
  padding-bottom: 5px;
  width: 200px;
  margin-left: 5rem;
  margin-top: 4rem;
}



.description {
  font-size: 0.8em;
  margin-right: 4rem;
  margin-bottom: 10%;

}

.footer {
  display: flex;
  align-items: center;
  font-size: 0.7em;
  gap: 15px;
  position: absolute;
  bottom: 0;
  margin-bottom: 8%;
}

.shadow_square {
  height: 100%;
  width: 900px;
  margin-right: 4rem;
  background-color: #424242;
  box-sizing: border-box;
}

.shadow_right {
  width: 50px;
  background-color: red;
  height: 100%;
  background-color: #1e1e1e;
  border-left: 1px solid white;
  z-index: 1;
}

.projectButton {
  border: none;
  background-color: #505750;
  opacity: 1;
  color: white;
  padding: 0.7rem 1.8rem 0.7rem 1.8rem; 
  font-family: "JetBrains Mono";
  margin-left: 4rem;
  transition: background 2s;
}

.projectButton:hover {
  color: #505750;
  background-color: white;
  border-radius: 4px;
  transform: background 2s;
}

@media (max-width: 1300px) {
  .main_square {
    width: 80%;
  }
  .shadow_square {
    width: 80%
  }
}

