
.container {
  margin: 10rem 0rem 15rem 3%;
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  row-gap: 50px;
}

.grid_item {
  justify-self: center;
}

.grid_item:nth-child(even) {
  transform: translateY(200px); /* Adjust this value for desired offset */
  grid-row-start: span 1; /* Ensure even items span the correct number of rows */
}



@media (max-width: 1450px) {
  .container {
    margin: 10rem 3% 15rem 3%;
  }
  .grid {
    grid-template-columns: 1fr; /* One column on smaller screens */
  }

  .grid_item:nth-child(even) {
    transform: translateY(0);
  }
}

@media (min-width: 1750px) {
  .container {
    margin: 12rem 5% 15rem 5%;
  }
}

