.title {
  font-size: 1.5em;
  margin-bottom: 3rem;
  text-decoration: underline;
  color: #505750;
}

.container {
  font-family: "JetBrains Mono";
  margin: 10rem 3rem 15rem 0rem;
}

.split {
  display: flex;
  flex: 1fr 1fr 1fr;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;
}
